<?php
/**
 * Adjust the configuration file and copy it to config.inc.php
 */
define('MOGILEFS_ENABLED', true);
define('MOGILEFS_HOST', 'myhost');
define('MOGILEFS_PORT', 6001);
define('MOGILEFS_DOMAIN', 'mydomain');
